@model Repositories.GeneratedModels.Car

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Privatecar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Privatecar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Motorcycle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Motorcycle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ambulance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ambulance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numofsits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numofsits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stretcher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stretcher)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Elevator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Elevator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Babychair)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Babychair)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Code)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Codecar">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
